<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/img/sponsor/banner.jpg" alt="">
    </section>
    <section class="sponsor-container">
      <div class="main-view center12">
        <ul class="character-category-list">
          <li class="character-category-item">
            <div class="title">
              BOARD OF DIRECTORS
            </div>
            <ul class="character-list">
              <li class="character-item">
                <div class="img">
                  <div class="img-box" style="background-image: url(/public/img/sponsor/Eugene-Wong.png);"></div>
                </div>
                <div class="fullname">Eugene Wong</div>
                <div class="info">Chief Executive Officer</div>
                <a href="javascript:;" class="read">READ PROFILE</a>
              </li>
              <li class="character-item">
                <div class="img">
                  <div class="img-box" style="background-image: url(/public/img/sponsor/Nicholas-Tan-EDITED.png);"></div>
                </div>
                <div class="fullname">Nicholas Tan</div>
                <div class="info">Chief Financial Officer</div>
                <a href="javascript:;" class="read">READ PROFILE</a>
              </li>
            </ul>
          </li>
          <li class="character-category-item">
            <ul class="character-list">
              <li class="character-item">
                <div class="img">
                  <div class="img-box" style="background-image: url(/public/img/sponsor/Robert-Morris.png);"></div>
                </div>
                <div class="fullname">Robert Morris</div>
                <div class="info">Independent Director</div>
                <a href="javascript:;" class="read">READ PROFILE</a>
              </li>
              <li class="character-item">
                <div class="img">
                  <div class="img-box" style="background-image: url(/public/img/sponsor/Leslie-Chow-EDITED.png);"></div>
                </div>
                <div class="fullname">Leslie Chow</div>
                <div class="info">Independent Director</div>
                <a href="javascript:;" class="read">READ PROFILE</a>
              </li>
              <li class="character-item">
                <div class="img">
                  <div class="img-box" style="background-image: url(/public/img/sponsor/Yan-Xu-EDITED.png);"></div>
                </div>
                <div class="fullname">Yan Xu</div>
                <div class="info">Independent Director</div>
                <a href="javascript:;" class="read">READ PROFILE</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section class="popup-container">
      <div class="popup-mask"></div>
      <div class="popup-view">
        <div class="text">
        </div>
        <a href="javascript:;" class="back close">BACK</a>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>