<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/img/contact/banner.jpg" alt="">
    </section>
    <section class="section01 module">
      <div class="main-view center12">
        <div class="text">
          <div class="title">
            CONTACT US
          </div>
          <div class="line"></div>
          <div class="content">
            <div class="title">Our Location :</div>
            <div class="info">
              Unit B, 6/F, Central 88, No. 88-98<br>
              Des Voeux Road Central, Hong Kong
            </div>
            <div class="title">For more enquiries, please contact :</div>
            <div class="info">
              T: +852 9086 7042<br>
              E: aceteam@aceglobal-acq.com
            </div>
          </div>
        </div>
        <div class="img pr0">
          <div class="title">
            CONTACT US
          </div>
          <img src="/public/img/contact/contact.jpg" alt="">
        </div>
      </div>
    </section>

    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>