<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/img/home/banner.jpg" alt="">
    </section>
    <section class="section01 module">
      <div class="main-view center12">
        <div class="text">
          <div class="title">
            ACE GLOBAL<br>
            BUSINESS ACQUISITION Ltd
          </div>
          <div class="line"></div>
          <div class="content">
            <p>
              Ace Global Business Acquisition Limited is a blank check company incorporated in the British Virgin
              Islands as a business company with limited liability for the purpose of effecting into a merger, share
              exchange, asset acquisition, share purchase, recapitalization, reorganization or similar business
              combination with one or more businesses or entities.
            </p>
            <p>
              Our objectives are to generate compelling attractive returns for our shareholders and to enhance value
              through top line growth and hands on operational improvement for our potential target companies.
            </p>
          </div>
        </div>
        <div class="img pr0">
          <div class="title">
            ACE GLOBAL<br>
            BUSINESS ACQUISITION Ltd
          </div>
          <img src="/public/img/home/section01.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="section02 module bg-orange">
      <div class="main-view center12">
        <div class="img pl0">
          <div class="title">
            ACQUISITION STRATEGY<br>
            and INVESTMENT CRITERIA
          </div>
          <img src="/public/img/home/section02.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">
            ACQUISITION STRATEGY<br>
            and INVESTMENT CRITERIA
          </div>
          <div class="line"></div>
          <div class="content">
            <p>
              Our efforts to identify and complete a business combination will not be limited to any particular industry
              or geographic region, although our primary areas of focus will be gaming and e-commerce sector in the
              Greater China, Japan and Southeast Asia regions. We intend to source, evaluate, initiate and complete the
              business acquisition with the potential high growth businesses, and the details will be elaborated under
              “Acquisition Strategy”.
            </p>
            <p>
              Consistent with our core investment principles and business strategy, we will focus our sourcing on
              high-quality companies that demonstrate the characteristics set out under “Investment Criteria”. We will
              use these criteria and guidelines in target businesses examination, but we may decide to complete our
              business combination with a target business that does not meet all of these criteria.
            </p>
            <a href="/strategy.html" class="more">LEARN MORE</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section03 module">
      <div class="main-view center12">
        <div class="text">
          <div class="title">
            SPONSOR & TEAM
          </div>
          <div class="line"></div>
          <div class="content">
            <p>
              The Sponsor and Advisor of ACE Global Acquisition Ltd serve an important role to lead and ensure the
              company complete the business combination with the target businesses. They are extensively experienced and
              widely connected in their respective industry. The Sponsors and Advisors are equipped with sufficient
              knowledge to guide the company in sourcing and acquiring the target businesses, as well as completing the
              business combination process successfully.
            </p>
            <a href="/sponsor.html" class="more">LEARN MORE</a>
          </div>
          <div class="content">
            <p>
              The Board have significant experience and proven track record in private equity investing and operations.
              The Board meets regularly throughout the year and maintains regular contact between meetings with Sponsors
              and Advisors. Information related to the operation of the company is expected to kept informed and
              transparent to the Board.
            </p>
            <a href="/team.html" class="more">LEARN MORE</a>
          </div>
        </div>
        <div class="img pr0">
          <div class="title">
            SPONSOR & TEAM
          </div>
          <img src="/public/img/home/section03.jpg" alt="">
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>