section.module {
  padding: 2rem 0 0;
}
section.module .main-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.module .main-view .text {
  width: 100%;
}
section.module .main-view .text .title {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}
section.module .main-view .text .line {
  margin-bottom: 0.2rem;
  height: 2px;
}
section.module .main-view .text .content {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}
section.module .main-view .text .content p {
  margin-bottom: 0.5em;
  line-height: 1.5;
}
section.module .main-view .text .content a.more {
  font-size: 0.7rem;
  padding: 0.4rem 0.8rem;
}
section.module .main-view .img {
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
}
