<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/img/investor/banner.jpg" alt="">
    </section>
    <section class="section01 module">
      <div class="main-view center12">
        <div class="text">
          <div class="title">
            SEC FILINGS         
          </div>
          <div class="line"></div>
          <div class="content">
            <p>
              All Filings for Ace Global Business Acquisition Limited<br>
              available via EDGAR.
            </p>
            <a href="https://www.sec.gov/edgar/browse/?CIK=1844389&owner=exclude" target="_blank" class="more">VIEW FILINGS</a>
          </div>
        </div>
        <div class="img pr0">
          <div class="title">
            SEC FILINGS         
          </div>
          <img src="/public/img/investor/SEC.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="section02 module bg-orange">
      <div class="main-view center12">
        <div class="img pl0">
          <div class="title">
            PRESS RELEASES
          </div>
          <img src="/public/img/investor/PRESS.jpg" alt="">
        </div>
        <div class="text">
          <div class="title">
            PRESS RELEASES
          </div>
          <div class="line"></div>
          <div class="content">
            <ul class="news-list">
              <li class="news-item">
                <a href="">DDC Enterprise Limited and Ace Global Business Acquisition Limited Announce Initial Filing of Preliminary Proxy Statement in Connection with Proposed Business Combination</a>
                <div class="time">
                  <p>17 November 2021 5:12</p>
                  <p>PM EST</p>
                </div>
              </li>
              <li class="news-item">
                <a href="">
                  Ace Global Business Acquisition Limited Announces Merger Agreement with DDC Enterprise Limited    
                </a>
                <div class="time">
                  <p>17 November 2021 5:12</p>
                  <p>PM EST</p>
                </div>
              </li>
              <li class="news-item">
                <a href="">
                  Ace Global Business Acquisition Limited Announces that Ordinary Shares and Warrants to Commence Separate Trading on or about May 21, 2021    
                </a>
                <div class="time">
                  <p>17 November 2021 5:12</p>
                  <p>PM EST</p>
                </div>
              </li>
              <li class="news-item">
                <a href="">
                  Ace Global Business Acquisition Limited Announces Closing of Over-Allotment Option in Connection with its Initial Public Offering    
                </a>
                <div class="time">
                  <p>17 November 2021 5:12</p>
                  <p>PM EST</p>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>